.btn-primary {
    background-color: rgb(61, 61, 61) !important;
    color: white !important;
    border-color: rgb(61, 61, 61) !important;
}

.active {
    font-weight: bold !important;
}

.card-text {
    text-align: justify !important;
}

.sosmed {
    font-size: 25px;
}

.icon {
    font-size: 25px;
}